<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div padding>
    <button ion-button block (click)="sortBy('bookingId')">Filtrar</button>
  </div>
  <ion-list>

    <ion-item *ngFor="let item of sortBy(null)">
      <ion-avatar slot="start">
        <img src="assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>
        <p>{{item.clientName}}</p>
        <p>{{item.bookingId}}</p>
        <p>{{item.bookingTime}}</p>
        <p>{{item.bookingPrice}}</p>
        <p>{{item.streetAddres}}</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
